{% extends "base.html" %}


{% block title %}
Maqolalar sahifasi
{% endblock title %}


{% block content %}

<div class="container">

    {% for article in articles %}
    <div class="card my-4 col-8">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content }}</p>
            <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Batafsil</a>
        </div>
        <div class="card-footer text-body-secondary">
            {{ article.published_at }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}


